* {
  box-sizing: border-box;
}
.phpForm {
  margin: 2em;
  width: 500px;
}
.phpForm div {
  margin: 1em 0;
}
.phpForm label {
  min-width: 120px;
  display: inline-block;
}
.phpForm input, .phpForm textarea {
  width: 250px;
  vertical-align: top;
  border: 1px solid #a1a1a1;
  padding: 5px 10px;
}
.phpForm .submit {
  max-width: 50%;
  margin: 0 auto;
}
